.banner{
    max-width: 100%;

    padding-block: 2.5rem;
    overflow: hidden;

    .scroller{
        width: 100%;
        overflow: hidden;
        padding-block: 1rem;

    }
    .rolling{
        display: flex;
        gap: 1.5rem;
        animation:rolling 2s linear infinite ;
    }

    .bg-gradient-animate{
        /* botando a cor na barra */
        background: linear-gradient(
            45deg,
            var( --snitap-sky-light),
            var(  --snitap-joy-light));

        /* pra deixar com mas cor almentando o tamanho so funciona se tiver ele pq se nao nao vai mudar de cor  */
            background-size: 400%;
            background-position: 0 50%;

        animation:  bg-gradient 20s ease infinite;
    }
}

/* botando a barra pra se mover */
@keyframes bg-gradient{
    50%{
        background-position: 100% 50%;
    }
}

@keyframes rolling{
    to{
        transform: translateX(-132px);
    }
}