footer{
    max-width: 80rem;
    width: 100%;
    padding: 4rem 2rem 2rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
   
    & .logo{
        display: flex;
        align-items: center;
        gap: .75rem;
       
        font: 700 1.25rem/1.3 'syne',sans-serif;

        & img{ 
            width: 2rem;
            transition: rotate 350ms;

            &:hover{
                rotate: 90deg;
            }
        }
    }
    & nav{
        display: flex;
        gap: 2rem;

        & a{
            /* faz parte da linha */
            position: relative;
            width: fit-content;

            &:hover::after{
                opacity: 1;
                transform: scaleX(1);

            }
        }

        & a::after{
            /* criando a linha  */
            content: "";
            width: 100%;
            height: 2px;
            background-color: var(--snitap-sky-mid);

            position: absolute;
            bottom: 0;
            left: 0;

            opacity: 0;
            transform: scaleX(0);
            /* aqui vai fazer a linha aparecer letamente*/
            transition: transform 200ms linear;

        }
    }
    & .social-links{
        display: flex;
        align-items: center;
        
        & a{
            /*  */

            position: relative;
            width: 2.5rem;
            height: 2.5rem;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5rem;
            /* criando a acao de quando passa o mause em cima ficar amarelo e vai pegar as coisa q estao dentro do before */
            &:hover::before{
                scale: 1;
            }
            & img{
                width: 1.5rem;
                height: auto;
            }

            &::before{
                /* esse before esta herdando as coisas q esta dentro do a */
                content: "";
                width: inherit;
                height: inherit;
                border-radius: inherit;

                background:var(--snitap-sun) ;

                /* pra botar a cor amarela embaixo dos icones */
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

                scale: 0;
                transition: scale 200ms;

            }
        }
    }
}