header {
    max-width: 80rem;
    width: 100%;
    padding: 1.25rem 2rem;
    /* deixa as coisa dentro da caixa mesmo diminuindo a tela */
    margin-inline: auto;


    display: flex;
    align-items: center;
    justify-content: space-between;


    img {
        height: 2rem;
        width: 2rem;


        /* usando o transition pra  fazer a animacao da img logo/mas tem q usa   img[src*= ""]:hover pra funcionar */
        transition: transform 500ms;
    }
    /* vai proucura em alguma img q tenha o nome logo no link da img no src */

    /* rodando a img quando passa o mause por cima */
    img[src*= "logo"]:hover{
        transform: rotate(90deg);

    }
    img[src*= "shopping"]:hover{

        transform: rotate(-30deg);
    }
    
    a{
        position: relative;
    }
    a span{

         
        font: 500 0.75rem/1.3 "Inter" , sans-serif;

        /* pra deixa o numero no canto superior direito */
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;

        background-color: var( --snitap-sun);
        /* definindo o tamanho da caixa q esta o numero o amarelo */
        width: 1.25rem;
        height: 1.25rem;

        /* botando o numero no centro/alinhando ao meio */
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
    }
    
}