section.hero{
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* ta servindo pra tira a img do patins */
    overflow: hidden;

    h1{
        max-width: 40rem;
    }

    h1 div{

        /* ajeitando as letras umas de baixo da outra sem aparecer para o usuario */

        display: inline-block;
        overflow: hidden;
        height: 5rem;

        /* serve basicamento pra deixa um de baixo do outro,cria uma caixa q nao quebre a letras mas sim as palavras */
        width: min-content;
        /* serve pra alinha a parte em linha */
        vertical-align: bottom;

    }
   /* mudando as cores dos span */
    h1 span:nth-child(1){
        color:var( --snitap-sky-mid);
    }
    h1 span:nth-child(2){
        color: var(--snitap-joy-mid);
    }
    h1 span:nth-child(3){
        color: var(--snitap-leaf-mid);

    }
     h1 span:nth-child(4){
        color:var( --snitap-sky-mid);
    }
     /* botando a animacao nas palavras */
    h1 span{
        display: block;
      

        animation: slideUp 6s 3s infinite ease;
    }
    
    /* parte buttons/pai */
    & .buttons{
        display: flex;
        gap: 2rem;
        margin-top: 3rem;

        /* parte button/filho */
        & .button{
            display: flex;
            align-items: center;
            gap: .75rem;


            border-radius: 5rem ;

            /* usando pra quando passa o mause em cima subir levemente,mas se lembre tem q ta definido um hover */
            transition: transform 350ms;

            /* quando tiver assim os buy dentro do button nao bota espacoente o" & e ." */
            &.buy{
                padding: 1.5rem 3rem;
                background-color: var(--snitap-sun);


            }
           
            &.play span {
                padding: 1.5rem;
                border-radius: 50%;
                background-color:white;
                display: flex;
               
            }
            &:hover{
                 transform:scale(1.1 ) ;
            }
        }
         /* fazendo o sombreamento  */
         /* 1:deslocomanteo do eixo "x"
            2:deslocomanteo do eixo "y" 
            3: desfoque/blur
            4:cor /.1 e a opacaidade*/
        & .shadow{
            box-shadow: 
            0 2px 5px rgb(0 0 0 /.1),
            0 9px 9px rgb(0 0 0 /.09),
            0 20px 12px rgb(0 0 0 /.05),
            0 36px 15px rgb(0 0 0 /.01)
            ;
        }
    }

    /* parte imaguen do patins */
    & > div:nth-child(2){
        display: block;
        width: 100%;
        max-width: 30.5rem;
        height: 30.5rem;


        & .content{
            width: 100%;
            height: 100%;
            position: relative;

        }
        /* deixando a img do patins e estrlas dentro do bloco/junto do azul */
        &   img{
            position: absolute;
            width: 100%;
        }

        /* mexendo na bola azul */
        & img[src*="Ellipse"]{
            width: 94%;
            top:3%;
            left: 3%;

            transform: translateX(200%);
            /* pra vim mas suave e quando chegar ficar */
            /* pra espera 200ms  */
            animation: slideIn 3s 200ms ease forwards;
        }

        /* deixando os patins emcima  por cima de tudo */
        & img[src*="patins"]{
            z-index: 1;

            transform: translateX(200%);
            animation: slideIn 3s ease forwards;
        }

        /* estrelas da parte de cima */
        & img[src*="Stars-1"]{
            max-width: 5.5rem;
            top:30%;
            z-index: 0;
            
            opacity: 0;
            transform: translateX(400%);
            animation: slideIn 2s 800ms ease forwards,apper 100ms 800ms both;
        }


        /* estralas da parte de baixo */
        & img[src*="Stars-2"]{
            max-width: 2.5rem;
            right:0 ;
            bottom: 35%;
            
            transform: translateX(400%);
            animation: slideIn 2.2s 800ms ease both;

        }
    }  
}



@keyframes apper{
    to{
        opacity: 1;
    }
}

/* parte de animacao dos patins */
@keyframes slideIn{

    /* pra passa um pouco e voltar */
    50%{
        transform: translateX(-20px);
    }

    100%{
        transform: translateX(0);

    }
}



  /* botando a animacao nas palavras */
@keyframes slideUp {

    /* radical static */
    0% ,22%{
        transform: translateY(0);
    }




    /* divertida in */
    /* parte do pulinho divertida */

    /* lebrando q quando for fazer o pulinho das letras tem q botar a base da outra palvra  q no caso aqui e -5rem */

    23%{
        transform: translateY(calc(-5rem - 15px));
    }

    25%{
        transform: translateY(calc(-5rem + 10px));
    }
    27% {
        transform:translateY(calc(-5rem - 5px));
    }

    29%{
        transform: translateY(calc(-5rem + 5px));
    }

    /* divertida static */
    33%, 55%{
        transform: translateY(-5rem);
    }

    /* saudavel in */
    /* parte do pulinh saudavel */


    /* lebrando q quando for fazer o pulinho das letras tem q botar a base da outra palvra  q no caso aqui e -10rem */
    56%{
        transform: translateY(calc(-10rem - 15px));
    }
    
    58%{
        transform: translateY(calc(-10rem + 10px));
    }

    60%{
        transform:translateY(calc(-10rem - 5px));
    }
    62%{
        transform: translateY(calc(-10rem + 5px));
    }


    /* saudavel static */
    66%,88%{
        transform: translateY(-10rem)
    }


    /* radical in */
      
    /* lebrando q quando for fazer o pulinho das letras tem q botar a base da outra palvra  q no caso aqui e -15rem */
    89%{
        transform: translateY(calc(-15rem - 15px));
    }
    
    91%{
        transform: translateY(calc(-15rem + 10px));
    }

    93%{
        transform:translateY(calc(-15rem - 5px));
    }
    95%{
        transform: translateY(calc(-15rem + 5px));
    }

    /* radical static */


    100%{
        transform: translateY(-15rem);
    }
}
